# 第4关 如何获取金融数据

+ 通过tushare获取金融数据
+ 通过quantos获取金融数据
+ 通过爬虫获取金融数据
+ pandas的基础知识
+ 闯关作业

### 通过tushare获取数据

In [7]:
# 导入 tushare库
import tushare as ts

# 获取历史日行情
df = ts.get_hist_data(
    '600030',
    start='2018-01-01',
    end='2018-01-31'
)
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2018-01-31,21.45,21.70,21.31,20.94,2472534.00,-0.32,-1.48,21.954,21.791,20.668,2652434.90,3008657.20,2506280.92,2.52
2018-01-30,21.91,22.34,21.65,21.53,2451540.00,-0.46,-2.08,22.278,21.755,20.534,3172105.30,3259291.50,2458637.67,2.50
2018-01-29,22.47,22.73,22.12,22.01,2644808.50,-0.22,-0.98,22.204,21.616,20.374,3353126.30,3247210.83,2405724.90,2.69
2018-01-26,22.33,22.74,22.35,22.21,2519975.00,0.02,0.09,22.024,21.348,20.172,3186164.10,3206865.40,2305660.55,2.57
2018-01-25,22.50,22.85,22.34,22.24,3173317.00,-0.58,-2.53,21.812,21.046,19.961,3408204.45,3059471.71,2230712.51,3.23
2018-01-24,21.40,22.95,22.93,21.15,5070886.00,1.72,8.11,21.628,20.740,19.749,3364879.50,2855519.54,2111319.89,5.17
2018-01-23,21.37,21.86,21.28,20.90,3356645.00,0.08,0.38,21.232,20.408,19.522,3346477.70,2498689.43,1907443.49,3.42
2018-01-22,21.10,21.44,21.22,20.94,1809997.50,-0.07,-0.33,21.028,20.225,19.362,3141295.35,2306944.32,1772711.91,1.84
2018-01-19,21.36,21.85,21.29,20.92,3630176.75,-0.12,-0.56,20.672,20.060,19.210,3227566.70,2374915.22,1708635.87,3.70
2018-01-18,21.15,21.64,21.42,20.90,2956692.25,0.48,2.29,20.280,19.819,19.055,2710738.96,2184782.41,1583974.94,3.01
2018-01-17,20.50,21.89,20.95,20.50,4978877.00,0.70,3.46,19.852,19.545,18.877,2346159.59,2003904.63,1479798.17,5.07
2018-01-16,19.26,20.37,20.26,19.19,2330733.25,0.81,4.17,19.584,19.313,18.743,1650901.16,1657983.83,1270818.68,2.37
2018-01-15,19.25,19.69,19.44,18.98,2241354.25,0.11,0.57,19.422,19.132,18.632,1472593.29,1564238.97,1183547.72,2.28
2018-01-12,19.25,19.58,19.33,19.12,1046038.06,0.05,0.26,19.448,18.995,18.557,1522263.74,1404455.70,1110348.32,1.07
2018-01-11,19.46,19.55,19.28,19.12,1133795.38,-0.33,-1.68,19.358,18.875,18.498,1658825.85,1401953.31,1096281.07,1.16
2018-01-10,19.47,19.74,19.61,19.23,1502584.88,0.17,0.87,19.238,18.757,18.455,1661649.68,1367120.23,1075201.78,1.53
2018-01-09,19.55,19.87,19.45,19.28,1439193.88,-0.09,-0.46,19.042,18.636,18.390,1665066.50,1316197.55,1042210.22,1.47
2018-01-08,19.00,19.80,19.57,18.91,2489706.50,0.69,3.65,18.842,18.498,18.355,1655884.65,1238479.50,1019637.24,2.54
2018-01-05,18.68,19.09,18.88,18.59,1728848.62,0.21,1.12,18.542,18.359,18.302,1286647.66,1042356.52,943502.89,1.76
2018-01-04,18.64,18.84,18.68,18.47,1147914.50,0.07,0.38,18.392,18.290,18.288,1145080.76,983167.47,921317.09,1.17
2018-01-03,18.36,18.85,18.63,18.35,1519669.00,0.19,1.03,18.276,18.208,18.318,1072590.78,955691.70,933805.67,1.55
2018-01-02,18.13,18.52,18.45,18.13,1393284.62,0.35,1.93,18.230,18.173,18.351,967328.61,883653.52,972996.87,1.42

### 通过quantos获取金融数据

In [6]:
# 导入DataApi
from jaqs.data import DataApi

# 初始化api
api = DataApi('tcp://data.quantos.org:8910')

# 获取用户名和密码
import os
user  = os.environ.get("QUANTOS_USER")
token = os.environ.get("QUANTOS_TOKEN")

# 登录
info, msg = api.login(user, token)
print(info, msg)

# 查询日收盘价信息
df, msg = api.daily(
    symbol='399001.SZ', 
    start_date='2018-02-01', 
    end_date='2018-02-28', 
    fields='open,high,low,close'
)

df

username: 18612562791 0,

        close freq       high        low       open     symbol  trade_date
0   10864.342   1d  11171.357  10836.351  11145.410  399001.SZ    20180201
1   10925.161   1d  10933.155  10663.542  10794.127  399001.SZ    20180202
2   10836.252   1d  10873.241  10741.846  10761.083  399001.SZ    20180205
3   10377.610   1d  10685.159  10377.610  10603.535  399001.SZ    20180206
4   10246.974   1d  10599.536  10173.663  10563.313  399001.SZ    20180207
5   10372.588   1d  10411.203  10219.214  10219.390  399001.SZ    20180208
6   10001.227   1d  10172.776   9868.834  10096.465  399001.SZ    20180209
7   10291.882   1d  10325.684  10059.858  10059.858  399001.SZ    20180212
8   10362.432   1d  10486.810  10350.174  10367.682  399001.SZ    20180213
9   10431.914   1d  10433.092  10319.147  10381.158  399001.SZ    20180214
10  10658.937   1d  10667.800  10526.983  10547.807  399001.SZ    20180222
11  10662.792   1d  10700.110  10578.787  10667.812  399001.SZ    20180223
12  10895.562   1d  10920.210  10670.167  10731.313  399001.SZ    20180226
13  10807.535   1d  10915.364  10791.954  10898.289  399001.SZ    20180227
14  10828.730   1d  10875.707  10656.358  10705.813  399001.SZ    20180228

### 通过爬虫获取数据（外汇汇率）

In [19]:
#import library
import requests

# prepare request data
URL = "http://www.chinamoney.com.cn/dqs/rest/dqs-u-fx/RefRateHis"
data = {'lang' : 'CN',
        'startDateTool'  : '13 Mar 2018',
        'endDateTool'    : '13 Mar 2018',
        'currencyCode'   : 'USD.CNY'
       }

# request header
USER_AGENT = "Mozilla/5.0 (Windows NT 6.1; WOW64) " \
             "AppleWebKit/537.36 (KHTML, like Gecko) " \
             "Chrome/57.0.2987.133 Safari/537.36 "

# simulate http request
session = requests.Session()
session.headers['User-Agent'] = USER_AGENT

res = session.get(URL, params=data)
if res.status_code != 200:
    print("query_error, status_code = ", res.status_code)

# display http response
rsp = res.text
print(rsp)

{"head":{"version":"2.0","provider":"CWAP","req_code":"","rep_code":"200","rep_message":"","ts":1520915241487,"producer":"","tstext":"2018-03-13 12:27:21"},"data":{"currencyList":[{"currValue":"ALL","currValueDesc":"全部"},{"currValue":"USD.CNY","currValueDesc":"USD/CNY"},{"currValue":"EUR.CNY","currValueDesc":"EUR/CNY"},{"currValue":"JPY.CNY","currValueDesc":"100JPY/CNY"},{"currValue":"GBP.CNY","currValueDesc":"GBP/CNY"}],"message":"","flag":"0","endDateTool":"13 Mar 2018","startDateTool":"13 Mar 2018","lang":"CN"},"records":[{"ccyPair":"USD/CNY","dealDate":"2018-03-13","rateOf10hour":"6.3222","rateOf11hour":"6.3244","rateOf14hour":"---","rateOf15hour":"---","rateOf16hour":"---","rateOf17hour":"---","rateOf18hour":"---","rateOf19hour":"---","rateOf20hour":"---","rateOf21hour":"---","rateOf22hour":"---","rateOf23hour":"---","rateOf00hour":"---","rateOf01hour":"---","rateOf02hour":"---","rateOf03hour":"---","rateOf04hour":"---","rateOf05hour":"---"}]}

### 解析json数据

In [22]:
import json

# 载入数据并记录
rsp_json = json.loads(rsp)
raw_records = rsp_json['records']

for record in raw_records:
    print(record['rateOf11hour'])

6.3244

### 解析html数据

In [26]:
from bs4 import BeautifulSoup  
  
html_doc = """ 
<html><head><title>The Dormouse's story</title></head> 
<body> 
<p class="title"><b>The Dormouse's story</b></p> 
 
<p class="story">Once upon a time there were three little sisters; and their names were 
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>, 
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and 
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>; 
and they lived at the bottom of a well.</p> 
 
<p class="story">...</p> 
"""  
  
soup = BeautifulSoup(html_doc, 'html.parser', from_encoding='utf8')  
  
print('测试1：获取所有的链接')
links = soup.find_all('a')  
for link in links:  
    print(link.name, link['href'], link.get_text() )

print('\n测试2：获取Lacie的链接')
link_node = soup.find('a', href='http://example.com/lacie')  
print(link_node.name, link_node['href'], link_node.get_text())

测试1：获取所有的链接
a http://example.com/elsie Elsie
a http://example.com/lacie Lacie
a http://example.com/tillie Tillie

测试2：获取Lacie的链接
a http://example.com/lacie Lacie

D:\QuantosFinanceTerminal\python\lib\site-packages\bs4\__init__.py:146: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

### 闯关作业

1. 上交所网站提供历史的融资融券余额数据，请用爬虫将2018年每日融资余额数据取出并画一张折线图。 

http://www.sse.com.cn/market/othersdata/margin/sum/

2. 请通过下面的文章，熟悉quantos数据，并逐个接口试用。

https://github.com/PKUJohnson/LearnJaqsByExample/blob/master/data_api_tutorial.md